* {
    margin: 0;
    padding: 0;
    border: 0;
}
img {
    width: 30vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 2vw 2vw 0;
}

canvas.background {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -3;
    background-color: rgb(8, 8, 8);
    background-image: url(img/5175251_m.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.particles {
    width: 50vw;
}

#face {
    position: absolute;
    top: 61%;
    left: 75%;

    .tear {
        position: absolute;
        width: 48vw;
        height: 20vh;
        transform: translate(-50%, -50%);
        filter: blur(10px) contrast(30);

        &_right {
            .drops {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: 4%;

                .drop {
                    width: 2vw;
                    height: 2vw;
                    background: rgb(128, 5, 5);
                    border-radius: 100%;
                }
            }
            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    .drops {
                        $speed: #{random(5000) + 3000}ms;
                        animation: horizontalRight $speed cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;

                        .drop {
                            animation: vertical $speed cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
                        }
                    }
                }
            }
        }
    }
}

@keyframes horizontalRight {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(85px);
    }
    50% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(-100px);
    }
}
@keyframes horizontalLeft {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-85px);
    }
    50% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(100px);
    }
}
@keyframes vertical {
    0% {
        transform: translateY(0px) scale(0.5);
    }
    18% {
        transform: translateY(8px) scale(1.1);
    }
    35% {
        transform: translateY(-10px) scale(1);
    }
    100% {
        transform: translateY(250px) scale(0);
    }
}
